.ctr-form {
    color: white;
    background-color: #000000;
    min-height: 100vh;
    height: 100%;
    font-size: 0.8rem;
    padding-bottom: 5rem;
}

hr {
    background-color: #212121;
}

.bg-grey {
    background-color: #212121;
}

.rm-form-btn {
    width: 100%;
    height: calc(1.5em + 0.75rem + 2px);
}

.ctr-view {
    /* A4 size */
    /* width: 21cm;
    height: 29.7cm;
    margin: 30mm 45mm 30mm 45mm; */
}

.rm-textbox,
.rm-textbox:focus {
    background-color: #212121;
    color: white;
    border: 0;
}

.rm-textbox:focus {
    border: 1px solid white;
}

#btnGeneratePDF {
    position: fixed;
    right: 50px;
    bottom: 50px;
}

.rm-button {
    border: 1px solid white;
    background-color: transparent;
    font-size: x-small;
    height: calc(1.5em + 0.75rem + 2px);
}

.rm-add-button,
.rm-remove-button {
    background-color: #212121;
    color: white;
    font-size: 1rem;
    width: 38px;
    border: 0px;
    height: 38px;
    margin-top: 27px;
    padding: 0;
    border-radius: 50%;
}

.rm-add-button:hover,
.rm-add-button:focus {
    background-color: green;
}
.rm-remove-button:hover,
.rm-remove-button:focus {
    background-color: red;
}

/* tags */

.rm-tag {
    display: inline-block;
    background-color: #212121;
    color: white;
    padding: 0.5rem;
    border-radius: 0.5rem;
    margin: 0.3rem;
    width: fit-content;
}

.rm-tags-input {
    margin: 0.3rem;
}
.rm-tags-textbox {
    background-color: #212121;
    color: white;
    border: 0;
    width: 100%;
    padding: 0.5rem 0.5rem;
    border-radius: 0.5rem;
    /* margin-bottom: 2rem; */
}

.rm-remove-tag-icon {
    margin: 0rem 0.5rem 0rem 0.8rem;
    color: white;
    border-radius: 0.5rem;
}

.rm-remove-tag-icon:hover {
    cursor: pointer;
}

.rm-tags-suggestions {
    background-color: #212121;
    bottom: 0px;
    height: -moz-fit-content;
    height: fit-content;
    margin: 0.3rem;
    padding: 5px 0px;
    border-radius: 0.5rem;
    min-height: fit-content;
    max-height: 200px;
    overflow-y: scroll;
    margin-bottom: 2rem;
}

.rm-tags-suggestion {
    background-color: #212121;
    color: white;
    margin: 0.3rem;
    /* max-height: 5rem; */
    padding: 0.2rem;
    border-radius: 0.5rem;
    /* width:100%; */
    /* border: 1px solid #212121; */
}

.rm-tags-suggestion:hover,
.rm-tags-suggestion:active {
    background-color: black;
}
