.ctr-form {
    color: white;
    background-color: #000000;
    height: 100vh;
}

.bg-grey {
    background-color: #212121;
}

.ctr-view {
    /* A4 size */
    /* width: 21cm;
    height: 29.7cm;
    margin: 30mm 45mm 30mm 45mm; */
}

.rm-textbox,
.rm-textbox:focus {
    background-color: #212121;
    color: white;
    border: 0;
}

.rm-textbox:focus {
    border: 1px solid white;
}

#btnGeneratePDF {
    position: fixed;
    right: 50px;
    bottom: 50px;
}
